@media screen and (max-width: 1200px) {
  .main-container,
  header {
    width: var(--responsive-width) !important;
  }
}

@media screen and (max-width: 900px) {
  .videos-list {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .header-socials {
    display: none;
  }
  .small-container {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .the-icon {
    display: block;
  }
  .page-banner {
    background-attachment: scroll;
  }

  .main-navigation {
    left: -260px;
    background: var(--main-color);
    position: fixed;
    top: 0;
    margin: 0;
    padding: 3rem;
    min-height: 100vh;
    width: 250px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
  }
  .main-navigation ul li {
    display: block;
    margin: 0 0 2rem 0;
  }
  .show {
    display: block;
  }
  .show-left {
    left: 0;
  }

  .videos-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .post-navigation .nav-links {
    flex-direction: column;
    gap: 2rem 1rem;
    align-items: center;
  }
  .nav-previous a,
  .nav-next a {
    flex-direction: column;
    padding: 0;
  }
  .previous-box,
  .nav-next a {
    text-align: center;
  }
}
